@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');


/* Color Palette notes:
Purple - Royalty, Luxury, Spirituality & Ambition.
Pink - Compassion, Sincerity, Sophistication, Sweet.
Blue - Trust, Peace, Loyalty, Competence.
Yellow - Creativity, Happiness, Warmth, Cheer. 
Green - Nature, Healing, Freshness, Quality.
Black - Formality, Dramatic, Sophistication, Security.
White - Clean, Simplicity, Innocence, Honest.
*/
a {
  color: #0083F5
}
/* Color Theme Swatches in Hex */
.port-purp { color: #7605F7; }
.port-pink { color: #FA0079; }
.port-blue { color: #0083F5; }
.port-yellow { color: #F5F318; }
.port-green { color: #0CF574; }

/* Color Theme Swatches in RGBA */
.toonycoon-1-rgba { color: rgba(118, 5, 247, 1); }
.toonycoon-2-rgba { color: rgba(250, 0, 121, 1); }
.toonycoon-3-rgba { color: rgba(0, 131, 245, 1); }
.toonycoon-4-rgba { color: rgba(245, 243, 24, 1); }
.toonycoon-5-rgba { color: rgba(12, 245, 116, 1); }

/* Color Theme Swatches in HSLA */
.toonycoon-1-hsla { color: hsla(268, 96, 49, 1); }
.toonycoon-2-hsla { color: hsla(330, 100, 49, 1); }
.toonycoon-3-hsla { color: hsla(207, 100, 48, 1); }
.toonycoon-4-hsla { color: hsla(59, 91, 52, 1); }
.toonycoon-5-hsla { color: hsla(146, 92, 50, 1); }


h1,
h2,
.text-h1,
.text-h2 {
    font-family: 'Rubik Mono One', monospace !important;
    color: #ffffff;
}

p,
.text-body-1,
.text-body-2,
.text-h5,
.text-h4,
.text-h3,
html {
 
    font-family: 'Azeret Mono', monospace !important;
    color: #ffffff;
}
body {
  height: -webkit-fill-available !important;
    
}
html {
  height: -webkit-fill-available !important;
  background-color: black;
}

/* scroll bar */

  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #202020;
    border-left: 1px solid #2c2c2c !important;
  }
  
   ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 3px #202020;
    border-radius: 7px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #EEEEEE;
  }

 .hover {
  cursor: pointer;
}