@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');


/* Color Palette notes:
P: #172026
H: #FF330A
A: #0A14F0
Complementary: #FF0897 #FFFC01 #03EAF0
Sections Alt: #EEEEEE and #FFFFFF 
*/


h1,
h2,
.text-h1,
.text-h2 {
    font-family: 'Rubik Mono One', monospace !important;
    color: #ffffff;
}

p,
.text-body-1,
.text-body-2,
.text-h5,
.text-h4,
.text-h3,
html {
    font-family: 'Azeret Mono', monospace !important;
    color: #ffffff;
}
html {
    background: linear-gradient( #000000 80% , #000000 70%, #021826);
    height: -webkit-fill-available;
}


/* Figma Page Css Testing */
